<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alerts</title>
    <link rel="stylesheet" href="/css/introduction.css">
    <link rel="stylesheet" href="/css/utilities.css">
    <link rel="stylesheet" href="/components/alert.css">
</head>
<body>
    <header class="head">
        <div class="nav-bar"><a href="/index.html">RocketUI</a></div>
    </header>
    <div class="container">
        <main class="side-bar">
            <div class="side-head">Get Started</div>
            <ul class="get-start-compo">
                <li class="component-list"><a href="/intoduction.html">Introduction</a> </li> 
                <li class="component-list">Colors</li>
                <li class="component-list">Typography</li>
            </ul>

            <div class="side-head">Components</div>
            <ul>
                <li class="component-list"><a href="/components/alert.html" >Alert</a></li>
                <li class="component-list">Avatar</li>
                <li class="component-list">Badge</li>
                <li class="component-list">Button</li>
                <li class="component-list">Card</li>
                <li class="component-list">Image</li>
                <li class="component-list">Input</li>

            </ul>
        </main>
        <div class="main">
           <div class="head">Alert</div> 
           <div class="description">An alert displays a short, important message in a way that attracts the user's attention without interrupting the user's task</div>

           <div class="sub-head">Simple Alert</div>
           <div class="description">Simple Alerts can be created using alert class, followed by the  <span class="variant">variant</span> name.</div>
           <div class="alert-box">
               <div class="alert-content primary" >Primary! This is a Primary Alert - Check it now!</div>
               <div class="alert-content error">Error! This is an Error Alert - Check it now!</div>
               <div class="alert-content success">Success! This is a Success Alert - Check it now!</div>
               <div class="alert-content warning">Warning! This is a Warning Alert - Check it now!</div>
           </div>

           <div class="sub-head">Outline Alert</div>
           <div class="description">Outline alerts are created by using alert class, followed by <span class="outline-variant">outline-variant.</span></div>
           <div class="alert-box">
               <div class="alert-content outline-primary">Primary! This is a Primary Alert - Check it now!</div>
               <div class="alert-content outline-error">Error! This is an Error Alert - Check it now!</div>
               <div class="alert-content outline-success">Success! This is a Success Alert - Check it now!</div>
               <div class="alert-content outline-warning">Warning! This is a Warning Alert - Check it now!</div>
           </div> <footer class="foot">
            <nav class="left-nav"> Previous </nav>
            <nav class="right-nav">Next</nav>
        </footer>
        </div> 
    </div>
  
</body>
</html>